

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery img {
    padding: 2px;
    max-width: 24%;
    object-fit: cover;
}

.gallery img:hover{
    border: 3px solid whitesmoke;
    margin: -3px;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .gallery img {
        max-width: 24%;
    }
}

@media screen and (max-width: 600px) {
    .gallery img {
        max-width: 48%;
    }
}






#gallery_modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #000000B0;
}



#gallery_modal_slideshow {
    display: none;
    width: 80%;
    height: 80%;
    padding: 18px 0px 20px 0px;
}


#gallery_modal_image {
    display: block;
    height: 80%;
    object-fit: contain;
    padding: 18px 0px 0px 0px;
}

#gallery_modal h3 {
    padding: 18px 0 18px 0;
    margin: 0 20% 0 20%;
    text-align: center;
}

#gallery_modal p {
    margin: 0 20% 20px 20%;
    text-align: center;
}
